/* shopping cart page css */

.element{
  padding-bottom: 2rem;
  border-top-width: 1px;
  border-top-style: none;
  border-top-color: black;
}

body h2 {
  text-align: center;
}

.cart_toptag{
  display: flex;
  margin-top: 3rem;
}

#cart2{
  display: none;
}

.cart2_item_layout{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.empty50{
  width: 0;
}

.empty75{
  width: 0;
}

.empty70{
  width:70%;
}

.cart_toptag1{
  width:10%;
  text-align: center;

}

.cart_toptag2{
  width:20%;
  text-align: center;
}

.cart_item{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cart_item_pic{
  width:20%;
  text-align: center;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.cart_item_info{
  flex-direction: row;
  text-align: center;
  width:50%;
}

.cart_item_amount{
  width:10%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.price_sum{
  width:20%;
  justify-content: center;
  display: flex;
}

.clear_cart{
  float: right;
  margin: 2% 3%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

/* flex shrink percentage of the input box */
.col_25 {
  flex: 25%;
}

.col_50 {
  flex: 50%;
}

.col_25,
.col_50{
  padding: 0 1rem;
}

.cart_item_amount button{
  border: 0;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #865B5B;
  color: #865B5B;
  margin: 0 0.5rem;
  width: 2rem;
  height: auto;
  cursor: pointer;
}


.cart_item_amount button:hover{
  color: #865B5B;
  background-color: #B99592;
}

.cart_item_amount span{
  color:black;
  display: block;
  font-size: 0.83em;
  font-weight: bold;
}

.price_sum span{
  color:black;
  display: block;
  font-size: 0.83em;
  font-weight: bold;
}

#payment_box {
  background-color: #FFFEF4;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 1rem;
  margin-top: 3rem;
}

.col_50 label {
  margin-bottom: 0.5rem;
  display: block;
}

.pdctImg{
  width: 100%;
  max-width: 18rem;
}

@media only screen and (max-width:920px){
  .pdctImg{
    max-width: 12rem;
    max-height: 12rem;
  }

}

.contact-info h2{
  font-family: 'Comfortaa', cursive;
  font-family: 'Merriweather', serif;
  text-align: center;
}


/* Product Recommandation */
.product-cake{
  margin-top: 10rem;
}

.product-cake-h2{
  margin-top: 7rem;
  text-align: center;
  text-shadow: rgba(134, 91, 91, 0.6) 5px 0 10px;
}

.product-cake-h2 h2{
  font-size: 30px;
  font-family: 'Comfortaa', cursive;
  font-family: 'Merriweather', serif;
}

#products{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.single:nth-of-type(1){
  background-color: #EDD5D2;
  width: 30%;
}

.single:nth-of-type(2){
  background-color: #EDD5D2;
  width: 30%;
}

.single:nth-of-type(3){
  background-color: #EDD5D2;
  width: 30%;
}

.single:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  transition: 0.5s;
}

.product-title h3{
  text-align: center;
  margin-top: 3rem;
  font-style: normal;
}

.single:nth-of-type(n)>.product_price{
  text-align: center;
  margin-top: 2rem;
}

.single:nth-of-type(n)>.product_price span{
  color:#865B5B;
  font-weight: bolder;
}

.single:nth-of-type(n) .product_img{
  padding-top: 4rem;
  text-align: center;
}

.single:nth-of-type(n)>.product_img img{
  width: 70%;
  cursor: pointer;
  /* transition: all 0.6s; */
}

.single:nth-of-type(n)>.product_img img:hover{
  /* transform: scale(1.15); */
}

#product_listing, #product_listing section{
  margin-top: 1rem;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2rem;
}

#product_listing .element{
  border-top-style: none;
}


/* payment form css */
.checkout_summary{
  display: flex;
}

#payment_box {
  background-color: #EDD5D2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 1rem;
  margin-top: 0.2rem;
  width:100%;
  margin-bottom: 1rem;
}

.payment_box {
  background-color: #EDD5D2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 1rem;
  margin-top: 2rem;
  width:100%;
  margin-right: 2%;
  margin-bottom: 1rem;
}

.payment_page_forms{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-right: 3rem;
}

.label_div{
  display: flex;
}

.form_icons{
  margin-left: auto;
}

.contact-info h2{
  font-family: 'Comfortaa', cursive;
  font-family: 'Merriweather', serif;
  text-align: center;
}

/* Summary Section */
.total_cart{
  text-align: right;
  width: 35%;
}

.coupon_box{
  margin-top: 2rem;
}

.coupon_box, .total_cart_sum p{
  color: #865B5B;
  text-decoration: none;
  font-size: 14px;
  font-weight: bolder;
  margin-bottom: 1rem;
  text-align: left!important;
}

.coupon_input{
  display: flex;
}

.coupon_input .add-btn a{
  margin-left: 10px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
  padding: 0.8rem 1rem;
}

.total_cart_sum{
  display: flex;
}

.total_cart_sum p{
  margin: 0.5rem 0;
  vertical-align: bottom;
}

.total_cart_sum_tag{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.total_cart_sum_tag_special p{
  margin: 0;
}

.total_cart_sum_num{
  margin-left: auto;
}

.hr_margin{
  margin-top: 1.5rem;
}

.total_price{
  margin-left: auto;
}

.empty80{
  width:80%;
}

.total_price_h3 {
  font-size: 2rem;
  margin-top: 1.5rem;
  text-align: left;
}

.total_price>h6 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 0;
  font-family: 'Merriweather', serif;
}

.cart_buttons{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  margin-top: -1rem;
}

.payment_buttons{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.pay_now_btn{
  margin-top: 2rem;
}

.pay_now_btn .add-btn a{
  width: 100%;
  margin: 0px;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

/* media only for the product list section */
@media only screen and (max-width:790px){

  .single:nth-of-type(n) .product_img{
    padding-top:2rem;
    text-align: center;
  }

  .product-cake-h2 h2{
    font-size: 25px;
  }

  .product-title h3{
    font-size: 17px;
  }

  .add-btn a{
    padding: 8px 16px;
    font-size: 12px;
  }
}

@media only screen and (max-width:650px){

  .single:nth-of-type(n){
    width: 80%;
  }

  .single:nth-of-type(2){
    margin-top: 3rem;
  }

  .single:nth-of-type(3){
    margin-top: 3rem;
  }

  .product-cake-h2 h2{
    font-size: 25px;
  }

  .product-title h3{
    font-size: 17px;
  }

  .add-btn a{
    padding: 12px 20px;
    font-size: 14px;
  }

  #cart{
    display: none;
  }

  #cart2{
    display: contents;
  }

  .cart_item_pic{
    width: 60%;
  }

  .cart2_item_layout{
    width: 40%;
  }

  .cart_toptag{
    display: none;
  }

  .cart_item_info{
    width: 100%;
  }

  .cart_item_amount{
    width: 100%;
  }

  .price_sum{
    margin-top: 1rem;
    width: 100%;
  }
}

@media only screen and (max-width:500px){
  .single:nth-of-type(n) .product_img{
    padding-top:1em;
    text-align: center;
  }

  .product-cake-h2 h2{
    font-size: 22px;
  }
}

@media only screen and (max-width:1000px){
  .total_price_h3 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    text-align: left;
  }

  .total_price>h6 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 0;
    font-family: 'Merriweather', serif;
  }

}

@media only screen and (max-width:780px){
  .checkout_summary{
    display: flex;
    flex-direction: column;
  }

  .payment_page_forms{
    width: 100%;
  }

  .total_cart{
    width: 100%;
  }

  #cart h4{
    font-size: 12px;
  }

  #cart h5{
    font-size: 11px;
  }

  .clear_cart a{
    font-size: 12px;
  }


}

@media only screen and (max-width:450px){

  label{
    font-size: 8px;
  }

}
