/* * {
  box-sizing: border-box;
  border: 1px solid pink;
} */
.contact-element{
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  padding: 10px;
}

.contact{
  margin-top: 5rem;
  display：flex
  flex-direction：column；
}

.contact-info{
  display：flex;
  flex-direction：column；
  align-items:center;
}

.contact-info h2,p{
  font-family: 'Comfortaa', cursive;
  font-family: 'Merriweather', serif;
  text-align: center;
}

.contact-container{
  display: flex;
  flex-wrap: wrap;
  margin: 5rem;
  background-color: #EDD5D2;
  /* background-color: rgb(237, 213, 201, 0.8); */
}

.location h3{
  font-family: 'Comfortaa', cursive;
  font-family: 'Merriweather', serif;
  font-style: normal;
}

.location{
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.location-map{
  justify-contect: center;
  align-items: center;
  padding-top: 2rem;
  width:100%;
}

.location-map img{
  width:100%;
  margin:auto;
}

.location-icon{
  width:100%;
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center;
  text-align: center; */
  text-align: center;
}

.icon:nth-of-type(n){
  width:33%;
}

.icon:nth-of-type(n) img{
  cursor: pointer;
  width:40%;
}

.icon:nth-of-type(n) p{
font-size: 10px;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

.location input::placeholder{
  color: white;
}

.location input:hover::placeholder{
  color: rgb(215, 215, 215);
}


@media screen and (max-width: 1025px){
  .location-icon{
    display: flex;
  }

  .icon:nth-of-type(n){
    width: 100%;
    text-align: center;
  }

  .icon:nth-of-type(n) img{
    width: 50px;
    /* width:30%;
    width: auto; */
  }
}

@media screen and (max-width: 900px) {
  .contact-container{
    margin: 0!important;
    /* background-color: rgb(237, 213, 201, 0.8); */
  }
}

@media screen and (max-width: 700px) {
  .contact-container{
    margin: 0!important;
    /* background-color: rgb(237, 213, 201, 0.8); */
  }

  .location, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
