* {
  box-sizing: border-box;
  border: 1px solid pink;
}

.home{
  padding-top: 2rem;
  text-align: center;
}

.home img{
  width:100%
}

/* news website */
.news{
  /* background-color: #B99592; */
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: 15% 20%; */
  margin-left: 10%;
  margin-right: 10%;

}

.news h2{
  font-family: 'Comfortaa', cursive;
  font-family: 'Merriweather', serif;
}

.news-all{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* margin: 2% 5%; */
}

.company-news-events{
  width: 45%;
}

/* .company-news-events h2{
  text-decoration: underline;
} */

.company-news-events h3{
  font-size: 20px;
  font-style: normal;
  }

.company-news-events p{
  font-family: 'Comfortaa', cursive;
  font-family: 'Merriweather', serif;
  padding: 2%;

  /* font-size: 18px; */
}

.company-news-pic{
  display: flex;
  width:55%;
 justify-content: space-between;
}

.company-pic-1,.company-pic-2{
  width: 50%;
}

.company-pic-1{
  /* margin-right: 5%; */
}
.company-pic-1-news,.company-pic-2-news{
  margin: 5%;
}

.company-pic-1-news img,.company-pic-2-news img{
  width:100%;
}

/* news updates mobile */
@media only screen and (max-width:900px){
  .company-news-events h2{
    font-size: 20px;
  }

  .company-news-events h3{
    font-size: 16px;
  }
}

@media only screen and (max-width:800px){
  .company-news-events h2{
    font-size: 19px;
  }

  .company-news-events h3{
    font-size: 15px;
  }

  .company-news-pic, .company-news-events{
    width: 100%;
  }
}

@media only screen and (max-width:500px){
  .company-news-pic{
    flex-direction: column;
  }

  .company-pic-1,.company-pic-2{
    width:100%;
  }

  .company-pic-1-news,.company-pic-2-news{
    width:100%;
    text-align: center;
  }

  .company-pic-1-news img,.company-pic-2-news img{
    width: 80%;
  }
}

/* about us website */
.about-us{
  /* background-color: #EDD5D2; */
  border-width: 3px;
  border-color: #865B5B;

  border-style: solid;
  margin-top: 8rem;
  margin-left: 5%;
  margin-right: 5%;

}

.about-info{
  display: flex;
  flex-wrap: wrap;
}

.about-info-logo{
  padding: 3rem;
  width: 40%;
  text-align: center;
}

.about-info-logo img{
  width: 200px;
}

.about-info-text{
  width: 60%;
}

.about-info-text h2{
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-family: 'Merriweather', serif;
}

.about-info-text p{
  width: 60%;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-family: 'Merriweather', serif;
}

@media only screen and (max-width:900px){
  .about-info{
    display: flex;
  }

  .about-info-logo{
    width:100%;
  }

  .about-info-text{
    width: 100%;
  }
}

@media only screen and (max-width:650px){
  .about-info-logo img{
    width: 150px;
  }

  .about-info-text h2{
    font-size: 20px;
  }
}

@media only screen and (max-width:400px){
  .about-info-logo img{
    width: 100px;
  }

  .about-info-text h2{
    font-size: 16px;
  }
}

.service{
  margin-top: 8rem;
}

.service h2{
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-family: 'Merriweather', serif;
}

.service-all{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 2% 5%;
}

.service-cake,.service-drink{
    width: 35%;
    margin: 1% 5%;
}


.service-icon{
  width:30%;

}

.service-icon img{
  width: 100%;
}

.service-cake,.service-drink{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
}


.service-text h4{
    color: #B99592;
  }

.service-text p{
  color: #B99592;
}

.footer-left-bottom-text p{
  font-family: 'Comfortaa', cursive;
  font-family: 'Merriweather', serif;
}

.footer-center p{
  font-family: 'Comfortaa', cursive;
  font-family: 'Merriweather', serif;
}

.footer-right p{
  font-family: 'Comfortaa', cursive;
  font-family: 'Merriweather', serif;
}

.header{
  display: flex;
}

.logo{
  width:20%;
  text-align: center;
}

.logo img{
  width:150px;
  margin-top: 1.5rem;
}

.cart{
  width:10%;
  text-align: center;
  margin-top: 3rem;
}

.cart img{
  width:50px;
}

.navigation{
  width:65%;
	margin:0.5rem 0;
	position:sticky;
	top:1rem;
}

.phone-menu-icon img{
  /* font-size: 30px; */
  width:50px;
  display: none;
}


.navigation ul{
  display:flex;
	justify-content: space-between;
	list-style-type:none;
}

.navigation li{
  align-content: center;
}

.navigation ul a{
  float: left;
  display: block;
  color: #865B5B;
  text-align: center;
  padding: 0.8rem;
  text-decoration: none;
  font-size: 18px;
  border-bottom: 3px solid transparent;
}

.navigation ul a:hover{
  color: #B99592;
  border-bottom: #EDD5D2 solid 3px;
  transition: .5s ease;
}

.navigation #menu{
	display:none;
}

@media only screen and (max-width:800px){
  .header{
    display: block;
  }
  .navigation{
    width: 100%;
  }

	.navigation ul{
		flex-direction: column;
	}

	.navigation ul li{
		padding:3rem;
      vertical-align: middle;
	}

	.navigation ul li:hover{
		background-color:#FFFFFF;
	}

	.navigation ul a:hover{
		border-bottom:0px solid white;
	}

	.cart img{
		display:none;
	}

	.navigation nav ul{
		display:none;
	}

  .phone-menu-icon{
    margin: 0;

  }

  .phone-menu-icon img{
		display:block;

	}

	.navigation #menu:checked + ul{
		display:block;
	}

  .logo img{
    width:100px;
  }

  .icon-display{
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width:500px){
	.navigation{
		flex-direction: column;
	}
}
