* {
  box-sizing: border-box;
}

body {
  /*Change the default font*/
  background-color: #FFEFEE;
  font-family: 'Mulish', sans-serif;
  padding: 2rem;
  margin-left: 5%;
  margin-right: 5%;
  /* padding: 2rem; */
}

/*Add space between section elements*/
section{
  margin-bottom: 5rem;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: black;
}

h1{
  text-align: center;
  color: #B99592;
}

h2 {
  color: #865B5B;
  font-family: 'Balsamiq Sans', cursive;
  font-family: 'Sriracha', cursive;
  font-weight: bolder;
  text-shadow: #EDD5D2 5px 0 10px;
  font-size: 30px;
}

h3 {
  color: #865B5B;
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 25px;

}

h4 {
  color: #B99592;
  margin-bottom: 1rem;
  margin-top: 2.5rem;
}

p {
  margin-top: 1rem;
  font-size: 14px;
  color: #865B5B;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

code {
  color: black;
  display: block;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: rgb(255, 255, 255, 0.4);
  line-height: 1rem;
}

/*study guide navigation*/

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
}
/* logo */
.header>figure.logo{
  width: 10%;
}

.logo>img{
  width: 100%;

}

/* logo */
.header>figure.cart{
  width: 5%;
}

.cart>img{
  width: 60%;

}

/* header */
.study_guide{
  width: 75%;
  height:3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.study_guide a {
  float: left;
  display: block;
  color: #865B5B;
  text-align: center;
  padding: 0.8rem;
  text-decoration: none;
  font-size: 18px;
  border-bottom: 3px solid transparent;
}

.study_guide a:hover {
  color: #B99592;
  border-bottom: #EDD5D2 solid 3px;
  transition: .5s ease;
}

.study_guide a:focus {
  color: #2D3E4E;
}



/*Text input field with label*/
fieldset{
  padding: 0;
  margin:0;
}

.search{
  padding: 1rem;
}

.search label{
  font-weight: bolder;
  color: #865B5B;
}

.search input{
  border: 1.5px solid #D7D7D7;
  padding: 0.4rem;
  width: 12rem;
  margin-left: 1rem;
}

.search input::placeholder{
  color: white;
}

.search input:hover::placeholder{
  color: rgb(215, 215, 215);
}

@media screen and (max-width: 560px){
  .search input{
    width: 12rem;
    margin-top: 1rem;
  }
}

/* Radio button with label */
label.room {
  display: block;
  position: relative;
  font-weight: bolder;
  color: #865B5B;
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label.room input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

span.room {
  position: absolute;
  top: 2px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: rgb(185, 149, 146, 0.3);
  border-radius: 50%;
}

label.room:hover input ~ span.room {
  background-color: rgb(185, 149, 146, 0.7);
}

label.room input:checked ~ span.room {
  background-color: #757575;
}

span.room:after {
  content: "";
  position: absolute;
  display: none;
}

label.room input:checked ~ span.room:after {
  display: block;
}

label.room span.room:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 5px;
  /* border-width: 20%; */
}

/*Image as a link section elements*/
.furniture_design{
  display:flex;
  flex-direction: column;
}



.img {
  position: relative;
  width: 30%;
  justify-content :flex-start;


}

.image {
  opacity: 1;
  display: block;
  max-width: 100%;
  transition: .5s ease;
  justify-content :flex-start;

}

.img_effect {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: .5s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;

}

.img:hover .image {
  opacity: 0.4;
}

.img:hover .img_effect {
  opacity: 1;
}

.text a{
  font-family: 'Mulish', sans-serif;
  color: #A0A0A0;
  font-size: 25px;
  text-align: center;
}

.text a:hover{
  color: #EDD5D2;
  font-weight:bolder;
}

.text a:focus{
  color: #B99592;
  font-weight:bolder;
}

@media only screen and (max-width:560px){
  div.furniture_design>div.img{
    width: 80%;
  }

  div.img_effect >div.text a{
    font-size: 20px;
  }
}

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: rgb(50,50,50);
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.button-nav:hover, .button-nav:focus {
  background-color: rgb(200,200,200);
}

/* Paragraphs */
.paragraphs p{
  margin-left: 2rem;
  margin-right: 2rem;
  line-height: 1.5rem;
}

ol li{
  margin-top: 2rem;

}

#product_listing, #product_listing section{
  margin-top: 1rem;
  margin-right: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 1rem;
}

.add-btn{
  text-align:  center;
}

.add-btn a{
  background-color: #B99592;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2rem;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.add-btn a:hover{
  background-color: #EDD5D2;
}

.add-btn a:focus{
  background-color: #B99592;
}

@media only screen and (max-width:560px){
  #products>div.single{
    width: 100%;
  }

  div.single>div.product_img img{
    width: 70%;
  }
}

.payment_box {
  background-color: rgb(243, 232, 231);
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 1rem;
  margin-top: 3rem;
}

.payment_box_contact {
  background-color: rgb(243, 232, 231);
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 1rem;
  margin-top: 3rem;
  width: 60%;
}

input[type=text] {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.8rem;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

label {
  margin-bottom: 0.5rem;
  display: block;
  color: #865B5B;
}

/* shopping cart page css */
.cart_toptag{
  display: flex;
  margin-top: 3rem;
}


.empty50{
  width: 0;
}

.empty75{
  width: 0;
}

.empty70{
  width:70%;
}

.cart_toptag1{
  width:10%;
  text-align: center;

}

.cart_toptag2{
  width:20%;
  text-align: center;
}

.cart_item{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cart_item_pic{
  width:30%;
  text-align: center;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.cart_item_info{
  flex-direction: row;
  text-align: center;
  width:40%;
}

.cart_item_amount{
  width:10%;
  text-align: center;
}

.price_sum{
  width:20%;
  text-align: center;
}

.total_cart{
  text-align: right;
}

.total_price{
  display: flex;
}

.empty80{
  width:80%;
}

.total_price_h3{
  width: 20%!important;
  text-align: center;
}

.total_price_h6{
  width: 20%!important;
  text-align: center!important;
}

.cart_buttons{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  margin-top: -1rem;
}

.payment_buttons{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  margin-top: 3rem;
}


.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

/* flex shrink percentage of the input box */
.col_25 {
  flex: 25%;
}

.col_50 {
  flex: 50%;
}

.col_25,
.col_50{
  padding: 0 1rem;
}

#payment_box {
  background-color: #FFFEF4;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 1rem;
  margin-top: 3rem;
}

input[type=text] {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.8rem;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.col_50 label {
  margin-bottom: 0.5rem;
  display: block;
}

.pdctImg{
  width: 100%;
  max-width: 18rem;
}

@media only screen and (max-width:920px){
  .pdctImg{
    max-width: 12rem;
    max-height: 12rem;
  }

}

ul li{
  margin-top: 2rem;
  color: #865B5B;
}

.font{
  width: 60%;
  margin-top: 3rem;
}

.font img{
  width: 100%;
}
