* {
  box-sizing: border-box;
  /* border: 1px solid pink; */
}

body {
  /*Change the default font*/
  background-color: #FFEFEE;
  font-family: 'Mulish', sans-serif;
  margin: 0;
  /* padding: 2rem; */
}

/*Add space between section elements*/
section{
  margin-bottom: 5rem;
  margin-left: 3%;
  margin-right: 3%;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: black;
}

h1{
  text-align: center;
  color: #B99592;
}

h2 {
  color: #865B5B;
  /* font-family: 'Balsamiq Sans', cursive;
  font-family: 'Sriracha', cursive; */
  text-shadow: #EDD5D2 5px 0 10px;
  font-family: 'Comfortaa', cursive;
  font-family: 'Merriweather', serif;
}

h3 {
  color: #865B5B;
  font-family: 'Comfortaa', cursive;
  font-family: 'Merriweather', serif;
  font-style: normal;
}

h4 {
  color: #B99592;
  margin-bottom: 1rem;
  margin-top: 2.5rem;
}

p {
  margin-top: 1rem;
  font-size: 14px;
  color: #865B5B;
  font-family: 'Comfortaa', cursive;
  font-family: 'Merriweather', serif;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

span {
  color: #B99592;
}

/*navigation*/

.header{
  display: flex;
  /* border: 1px solid pink; */
  align-items: center;
}

.header-logo{
  width:20%;
  text-align: center;
}

.header-logo img{
  width:100px;
  margin-top: 1.5rem;
}

.cart{
  width:25%;
  text-align: center;
  /* margin-top: 3rem; */
  /* border: 1px solid pink; */
}

.nav-logo{
  display: none;
}

.nav-logo img{
  width:70px;
  margin-top:-1rem;
}

.cart img{
  width:40px;
}

.navigation{
  /* border: 1px solid pink; */
  width:55%;
	margin:0.5rem 0;
	position:sticky;
	top:1rem;
}

.phone-menu-icon img{
  /* font-size: 30px; */
  width:40px;
  display: none;
}


.navigation ul{
  margin: 0;
  padding: 0;
  /* border: 1px solid pink; */
  display:flex;
	justify-content: space-between;
	list-style-type:none;
}

.navigation li{
  /* border: 1px solid green; */
  /* align-content: center; */
}

.navigation ul a{
  /* border: 1px solid blue; */
  /* float: left; */
  display: block;
  color: #865B5B;
  text-align: center;
  /* padding: 0.8rem; */
  text-decoration: none;
  font-size: 18px;
  border-bottom: 3px solid transparent;
}

.navigation ul a:hover{
  color: #B99592;
  border-bottom: #EDD5D2 solid 3px;
  transition: .5s ease;
}

.navigation #menu{
	display:none;

}

@media only screen and (max-width:700px){
  .header{
    display: block;
  }

  .navigation{
    margin: auto;
    margin-top: 2rem;
    width: 85%;
  }

	.navigation ul{
		flex-direction: column;
	}

	.navigation ul li{
		padding:1rem;
      vertical-align: middle;
	}

	.navigation ul li:hover{
		background-color:#FFFFFF;
	}

	.navigation ul a:hover{
		border-bottom:0px solid white;
	}

	.cart img{
		display:none;
	}

  .header-logo{
    display: none;
  }

  .nav-logo{
    display: block;
  }

	.navigation nav ul{
		display:none;
	}

  .phone-menu-icon{
    margin: 0;

  }

  .phone-menu-icon img{
		display:block;

	}

	.navigation #menu:checked + ul{
		display:block;
	}

  .header-logo img{
    width:80px;
  }

  .icon-display{
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width:500px){
	.navigation{
		flex-direction: column;
	}

  .header-logo{
    display: none;
  }

  .nav-logo{
    display: block;
  }
}

/*
  INTERACTIVE ELEMENTS -------------------
*/

/*In-text section elements*/
a{
  color: #865B5B;
  text-decoration: none;
  font-size: 14px;
  font-weight: bolder;
}

a.intext:hover{
  color: #B99592;
  text-shadow: #F0D5D2 1px 0 10px;
  transition: .5s ease;
  font-weight:bolder;
}

a.intext:focus{
  color: #2D3E4E;
}

.text a{
  font-family: 'Mulish', sans-serif;
  color: #A0A0A0;
  font-size: 25px;
  text-align: center;
}

.text a:hover{
  color: #EDD5D2;
  font-weight:bolder;
}

.text a:focus{
  color: #B99592;
  font-weight:bolder;
}


/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: rgb(50,50,50);
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.button-nav:hover, .button-nav:focus {
  background-color: rgb(200,200,200);
}

/*
  TEXT ELEMENTS -------------------
*/

/* Paragraphs */
.paragraphs p{
  margin-left: 2rem;
  margin-right: 2rem;
  line-height: 1.5rem;
}

ol li{
  margin-top: 2rem;
}


.add-btn{
  text-align:  center;
}

.add-btn a{
  background-color: #B99592;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2rem;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.add-btn a:hover{
  background-color: #EDD5D2;
}

.add-btn a:focus{
  background-color: #B99592;
}


input[type=text] {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.8rem;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

label {
  margin-bottom: 0.5rem;
  display: block;
  color: #865B5B;
}

/* footer */
.footer{
  background-color: #865B5B;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15rem;
}


.footer-left{
  width:33%;
  padding: 5%;
}

.footer-left-top{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-left-top-icon{
  width:10%;
  justify-content: center;
  align-items: center;
}

.footer-left-top-icon img{
  width: 100%;
}

.footer-left-bottom{
  margin-top: 2rem;
}

.footer-left-bottom-content{
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}

.footer-left-bottom-icon{
  width:40px;
  justify-content: center;
  align-items: center;
}

.footer-left-bottom-icon img{
  width:100%;
}

.footer-left-bottom-text{
  width:70%;
  text-align: center;
  margin: auto;
}

.footer-left-bottom-text p{
  color:#FFEFEE;
  font-size: 10px;
  margin: auto;
}

.footer-center{
  text-align: center;
  width:33%;
  padding: 5%;
}

.footer-center p{
  color:#FFEFEE;
  font-size: 15px;
  font-weight: bolder;
}

.support-content{
  text-align: center;
  padding-top: 1rem;
}

.support-content p{
    color:#FFEFEE;
    font-size: 10px;
    font-weight: normal;
}

.footer-right{
  text-align: center;
  width:33%;
  padding: 5%;
}

.footer-right p{
  color:#FFEFEE;
  font-size: 15px;
  font-weight: bolder;
}

.export-content{
  text-align: center;
  padding-top: 1rem;
}

.export-content p{
    color:#FFEFEE;
    font-size: 10px;
    font-weight: normal;
}

@media only screen and (max-width:628px){
  .footer-left-top-icon{
    width:15%;
  }

  .footer-left-bottom-text{
    margin-top: 1rem;
  }
}
  @media only screen and (max-width:560px){
    .footer-left{
      width: 100%;
    }
    .footer-left-top-icon{
      width:10%;
    }

    .footer-left-bottom{
      margin-top: 4rem;
    }

    .footer-left-bottom-text{
      margin-top: 1rem;
      margin: auto;
    }

    .footer-left-bottom-content{
      width:  80%;
      margin: auto;
      margin-top: 2rem;
    }

    .footer-left-bottom-icon{
      margin: auto;
    }

    .footer-center{
      width: 100%;
    }

    .footer-right{
      width: 100%;
    }
}
