* {
  box-sizing: border-box;
}

body {
  /*Change the default font*/
  background-color: #FFEFEE;
  font-family: 'Mulish', sans-serif;
  padding: 2rem;
  /* padding: 2rem; */
}

/*Add space between section elements*/
section{
  margin-bottom: 5rem;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: black;
}

h1{
  text-align: center;
  color: #B99592;
}

h2 {
  color: #865B5B;
  /* font-family: 'Balsamiq Sans', cursive;
  font-family: 'Sriracha', cursive; */
  text-shadow: #EDD5D2 5px 0 10px;
  font-family: 'Comfortaa', cursive;
  font-family: 'Merriweather', serif;
}

h3 {
  color: #865B5B;
  font-family: 'Comfortaa', cursive;
  font-family: 'Merriweather', serif;
  font-style: normal;
}

h4 {
  color: #B99592;
  margin-bottom: 1rem;
  margin-top: 2.5rem;
}

p {
  margin-top: 1rem;
  font-size: 14px;
  color: #865B5B;
  font-family: 'Comfortaa', cursive;
  font-family: 'Merriweather', serif;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

span {
  color: #B99592;
}

/*navigation*/

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
}
/* logo */
.header>figure.logo{
  width: 10%;
}

.logo>img{
  width: 100%;

}

/* logo */
.header>figure.cart{
  width: 5%;
}

.cart>img{
  width: 60%;

}

/* header */
.study_guide{
  width: 75%;
  height:3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.study_guide a {
  float: left;
  display: block;
  color: #865B5B;
  text-align: center;
  padding: 0.8rem;
  text-decoration: none;
  font-size: 18px;
  border-bottom: 3px solid transparent;
}

.study_guide a:hover {
  color: #B99592;
  border-bottom: #EDD5D2 solid 3px;
  transition: .5s ease;
}

.study_guide a:focus {
  color: #2D3E4E;
}


/*
  INTERACTIVE ELEMENTS -------------------
*/

/*In-text section elements*/
a{
  color: #865B5B;
  text-decoration: none;
  font-size: 14px;
  font-weight: bolder;
}

a.intext:hover{
  color: #B99592;
  text-shadow: #F0D5D2 1px 0 10px;
  transition: .5s ease;
  font-weight:bolder;
}

a.intext:focus{
  color: #2D3E4E;
}

.text a{
  font-family: 'Mulish', sans-serif;
  color: #A0A0A0;
  font-size: 25px;
  text-align: center;
}

.text a:hover{
  color: #EDD5D2;
  font-weight:bolder;
}

.text a:focus{
  color: #B99592;
  font-weight:bolder;
}


/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: rgb(50,50,50);
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.button-nav:hover, .button-nav:focus {
  background-color: rgb(200,200,200);
}

/*
  TEXT ELEMENTS -------------------
*/

/* Paragraphs */
.paragraphs p{
  margin-left: 2rem;
  margin-right: 2rem;
  line-height: 1.5rem;
}

ol li{
  margin-top: 2rem;
}


.add-btn{
  text-align:  center;
}

.add-btn a{
  background-color: #B99592;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2rem;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.add-btn a:hover{
  background-color: #EDD5D2;
}

.add-btn a:focus{
  background-color: #B99592;
}


input[type=text] {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.8rem;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

label {
  margin-bottom: 0.5rem;
  display: block;
  color: #865B5B;
}

/* footer */
.footer{
  background-color: #865B5B;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15rem;
}


.footer-left{
  width:33%;
  padding: 5%;
}

.footer-left-top{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-left-top-icon{
  width:10%;
}

.footer-left-top-icon img{
  width: 100%;
}

.footer-left-bottom{
  margin-top: 2rem;
}

.footer-left-bottom-content{
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.footer-left-bottom-icon{
  width:15%;
  text-align: center;
}

.footer-left-bottom-icon img{
  width:100%;
}

.footer-left-bottom-text{
  width:70%;
  padding-left: 1rem;
  text-align: center;
}

.footer-left-bottom-text p{
  color:#FFEFEE;
  font-size: 10px;
}

.footer-center{
  text-align: center;
  width:33%;
  padding: 5%;
}

.footer-center p{
  color:#FFEFEE;
  font-size: 15px;
  font-weight: bolder;
}

.support-content{
  text-align: center;
  padding-top: 1rem;
}

.support-content p{
    color:#FFEFEE;
    font-size: 10px;
    font-weight: normal;
}

.footer-right{
  text-align: center;
  width:33%;
  padding: 5%;
}

.footer-right p{
  color:#FFEFEE;
  font-size: 15px;
  font-weight: bolder;
}

.export-content{
  text-align: center;
  padding-top: 1rem;
}

.export-content p{
    color:#FFEFEE;
    font-size: 10px;
    font-weight: normal;
}
