.product-cake{
  margin-top: 10rem;
}

.product-cake-h2 h2{
  font-family: 'Comfortaa', cursive;
  font-family: 'Merriweather', serif;
}

.product-cake-h3{
  margin-top: 4rem;
  text-align: center;
  text-shadow: rgba(134, 91, 91, 0.6) 5px 0 10px;
}

.product-cake-h3 h3{
  text-align: center;
  font-style: normal;
  font-family: 'Comfortaa', cursive;
  font-family: 'Merriweather', serif;
}

#products{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

}


.furniture_list h2{
  text-align: center;
}

.single:nth-of-type(1){
  width: 25%;
}

.single:nth-of-type(2){
  width: 25%;
}

.single:nth-of-type(3){
  width: 25%;
}

.single h4{
  text-align: center;
}

.single:nth-of-type(n)>.product_price{
  text-align: center;
}

.single:nth-of-type(n) .product_img{
  padding-top: 2rem;
  text-align: center;
}

.single:nth-of-type(n)>.product_img img{
  width: 70%;
  cursor: pointer;
  transition: all 0.6s;
}

.single:nth-of-type(n)>.product_img img:hover{
  transform: scale(1.15);
}

.footer-left-bottom-text p{
  font-family: 'Comfortaa', cursive;
  font-family: 'Merriweather', serif;
}

.footer-center p{
  font-family: 'Comfortaa', cursive;
  font-family: 'Merriweather', serif;
}

.footer-right p{
  font-family: 'Comfortaa', cursive;
  font-family: 'Merriweather', serif;
}
/*  */
