/* Product Detail Page */

#product_details_info .element{
  border-top-style: hidden;
}

.product_detail{
  display: flex;
  padding: 2rem;

}

.product_detail_img{
  width: 400px;
  height: 400px;
  padding: 1rem;
}

.product_detail_infobox{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 5%;
}

.product_detail_infobox_name{
  margin-bottom: 5%;
}

.product_detail_infobox_name h3{
  font-size: 25px;
  font-style: normal;
}

.product_specifics_nav{
  margin-bottom: 20%;
}

.price_display a{
  font-size: 30px;
}

.choose_size{
  display: flex;
  margin-bottom: 5%;
}

.radio_btn{
  display: flex;
  margin-right: 15px;
}

.product_detail_infobox_amount .add-btn {
  text-align: left;
  margin-bottom: 10px;
}

.product_detail_infobox_amount .add-btn a{
  margin: 0;
  padding: 15px;
  width: 100%;
}


.product_specifics_texts{
  margin-left: 20%;
  max-width: 60%;
}

.product_specifics_texts li{
  margin: 1rem;
}

.product_specifics_texts h4{
  color:#865B5B;
}

/* Product/service listing */

.product-cake{
  margin-top: 10rem;
}

.product-cake-h2{
  margin-top: 7rem;
  text-align: center;
  text-shadow: rgba(134, 91, 91, 0.6) 5px 0 10px;
}

.product-cake-h2 h2{
  font-size: 30px;
  font-family: 'Comfortaa', cursive;
  font-family: 'Merriweather', serif;
}

#products{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.single:nth-of-type(1){
  background-color: #EDD5D2;
  width: 30%;
}

.single:nth-of-type(2){
  background-color: #EDD5D2;
  width: 30%;
}

.single:nth-of-type(3){
  background-color: #EDD5D2;
  width: 30%;
}

.single:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  transition: 0.5s;
}

.product-title h3{
  text-align: center;
  margin-top: 3rem;
  font-style: normal;
}

.single:nth-of-type(n)>.product_price{
  text-align: center;
  margin-top: 2rem;
}

.single:nth-of-type(n)>.product_price span{
  color:#865B5B;
  font-weight: bolder;
}

.single:nth-of-type(n) .product_img{
  padding-top: 4rem;
  text-align: center;
}

.single:nth-of-type(n)>.product_img img{
  width: 70%;
  cursor: pointer;
  /* transition: all 0.6s; */
}

.single:nth-of-type(n)>.product_img img:hover{
  /* transform: scale(1.15); */
}

#product_listing, #product_listing section{
  margin-top: 1rem;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 1rem;
}

#product_listing .element{
  border-top-style: none;
}

font-family: 'Comfortaa', cursive;
font-family: 'Merriweather', serif;
font-style: normal;


/* mobile size */
@media only screen and (max-width:790px){

  .single:nth-of-type(n) .product_img{
    padding-top:2rem;
    text-align: center;
  }

  .product-cake-h2 h2{
    font-size: 25px;
  }

  .product-title h3{
    font-size: 17px;
  }

  .add-btn a{
    padding: 8px 16px;
    font-size: 12px;
  }
}

@media only screen and (max-width:620px){
  .single:nth-of-type(n){
    width: 80%;
  }

  .single:nth-of-type(2){
    margin-top: 3rem;
  }

  .single:nth-of-type(3){
    margin-top: 3rem;
  }

  .product-cake-h2 h2{
    font-size: 25px;
  }

  .product-title h3{
    font-size: 17px;
  }

  .add-btn a{
    padding: 12px 20px;
    font-size: 14px;
  }
}

@media only screen and (max-width:500px){
  .single:nth-of-type(n) .product_img{
    padding-top:1em;
    text-align: center;
  }

  .product-cake-h2 h2{
    font-size: 22px;
  }
}




/*图片展示部分的css*/

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.row:after {
  content: "";
  display: flex;
  flex-direction: column;
  clear: both;
}

/* Six columns side by side */
.column {
  float: top;
  width: 16.66%;
}

.mySlides img{
  transition: transform 0.3s;
  width:100%;
}

.mySlides img:hover{
  transform: scale(1.2);
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

#product_details h2{
  text-align:center;
  margin-bottom:40px;
}

.carousel{
  width:80rem; margin:0 auto;
}


.container_d{
  position: relative;
}

.product_detail_infobox{
  float:left;
  width:25%;
  margin-left: 0px;
}

.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.prev{
  left:0px;
}

.next{
  right:0px;
}

.caption-container{
  display: none;
}

.row{
  float:left;
  width:7%;
  margin-left:5%
}

.container_d{
  float:left;
  width:45%;
  margin-left:5%;
  margin-right:8%;
  position: relative;
}

.column{
  width:100%;
}




    @media only screen and (max-width:1400px)
    {
      .carousel{ width:100%; margin:0 auto;}
    }

    @media only screen and (max-width:1150px)
    {
      .product_detail_infobox_name h3{
        font-size: 1.2rem;
        font-style: normal;
      }

      .price_display a{
        font-size: 1.5rem;
      }

      .product_detail_infobox_name {
        margin-bottom: 0;
      }

      label{
        font-size: 12px;
      }

      .btn_display a{
        font-size: 10px;
      }

      .product_specifics_nav {
        margin-bottom: 10%;
      }

      .product_detail_infobox_amount .add-btn a {
        margin: 0;
        padding: 9px;
        width: 100%;
      }

      .product_detail_infobox_desc h4{
        margin-top: 1rem;
      }
    }

    @media only screen and (max-width:850px)
    {
      .row {
        float: left;
        width: 60%;
        overflow:hidden;
        margin-left: 0;
        }
      .row .column{ width:33.333333%; float:left;}
      .container_d {width:60%; margin-left:0%;margin-right:5%;  }
      .product_detail_infobox{ float:left; width:30%; margin-top: -7rem;  margin-left: 0px;}

      label{
        font-size: 10px;
      }

      .product_specifics_nav {
        margin-bottom: 5%;
      }

      .product_specifics_texts {
        margin-left: 10%;
        max-width: 80%;
      }

      }
      @media only screen and (max-width:650px){
        #products>div.single{
          width: 100%;
        }

        div.single>div.product_img img{
          width: 70%;
        }
        .row {
          float: left;
          width: 100%;
          overflow:hidden;float:none;
        }
        .container_d {width:100%; margin-left:0%;margin-right:0%;  float:none;}

        .product_detail_infobox{ float:none; width:100%; margin-top: 0;    margin-left: 0px;}

        .mySlides img{
          transition: none;
          width:100%;
        }

        .mySlides img:hover{
          transform: none;
        }
      }


/* media only for the product list section */
      @media only screen and (max-width:790px){

        .single:nth-of-type(n) .product_img{
          padding-top:2rem;
          text-align: center;
        }

        .product-cake-h2 h2{
          font-size: 25px;
        }

        .product-title h3{
          font-size: 17px;
        }

        .add-btn a{
          padding: 8px 16px;
          font-size: 12px;
        }
      }

      @media only screen and (max-width:650px){
        .single:nth-of-type(n){
          width: 80%;
        }

        .single:nth-of-type(2){
          margin-top: 3rem;
        }

        .single:nth-of-type(3){
          margin-top: 3rem;
        }

        .product-cake-h2 h2{
          font-size: 25px;
        }

        .product-title h3{
          font-size: 17px;
        }

        .add-btn a{
          padding: 12px 20px;
          font-size: 14px;
        }
      }

      @media only screen and (max-width:500px){
        .single:nth-of-type(n) .product_img{
          padding-top:1em;
          text-align: center;
        }

        .product-cake-h2 h2{
          font-size: 22px;
        }
      }
