/* Product Detail Page */

#product_details_info .element{
  border-top-style: hidden;
}

.product_detail{
  display: flex;
  padding: 2rem;

}

.product_detail_img{
  width: 400px;
  height: 400px;
  padding: 1rem;
}

.product_detail_infobox{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 2rem;
}

.product_detail_infobox_amount {
  margin-top: 1rem;
}

.product_detail_infobox_amount .add-btn {
  text-align: left;
}

.product_detail_infobox_amount .add-btn a{
  margin: 0;
}

/* Product/service listing */

#products{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2rem;

}


.product_list h2{
  text-align: center;
}

.single{
  width: 25%;
}

.single h4{
  text-align: center;
}

.single>.product_discription{
  text-align: center;
}

.single .product_img{
  text-align: center;
}

.single>.product_img img{
  width: 80%;

}

#product_listing, #product_listing section{
  margin-top: 1rem;
  margin-right: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 1rem;
}

#product_listing .element{
  border-top-style: none;
}

font-family: 'Comfortaa', cursive;
font-family: 'Merriweather', serif;
font-style: normal;



/*图片展示部分的css*/

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.row:after {
  content: "";
  display: flex;
  flex-direction: column;
  clear: both;
}

/* Six columns side by side */
.column {
  float: top;
  width: 16.66%;
}


/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

#product_details h2{ text-align:center; margin-bottom:40px;}

.carousel{
  width:80rem; margin:0 auto;
}


.container_d
{
  position: relative;
}
.product_detail_infobox{ float:left; width:30%;     margin-left: 0px;}
.prev, .next
{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.prev{
  left:0px; }
  .next{ right:0px;}
  .caption-container
  {
    display: none;
  }
  .row{ float:left; width:7%; margin-left:5%}

  .container_d{ float:left;width:45%; margin-left:5%;margin-right:8%;
    position: relative;}
    .column{ width:100%;}


#product_specifics h3{
  text-align: center;
  margin-bottom: 3rem;
}

.specific_info{
  margin-left: 20%;
  max-width: 60%;
}

.specific_info li{
  margin: 1rem;
}


    @media only screen and (max-width:1400px)
    {
      .carousel{ width:100%; margin:0 auto;}
    }

    @media only screen and (max-width:850px)
    {
      .row {
        float: left;
        width: 60%;
        overflow:hidden;
        margin-left: 0;
        }.row .column{ width:33.333333%; float:left;}
        .container_d {width:60%; margin-left:0%;margin-right:5%;  }
        .product_detail_infobox{ float:left; width:30%;     margin-left: 0px;}
      }
      @media only screen and (max-width:600px){
        #products>div.single{
          width: 100%;
        }

        div.single>div.product_img img{
          width: 70%;
        }
        .row {
          float: left;
          width: 100%;
          overflow:hidden;float:none;
        }
        .container_d {width:100%; margin-left:0%;margin-right:0%;  float:none;}

        .product_detail_infobox{ float:none; width:100%;     margin-left: 0px;}
      }
